.wrapper-padding{
padding: 1% 1% 1% 1% ;
}
.table-img{
	width:60px;
	height:auto;
}
.error_txt {
    color: #333;
    font-size: 150px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1;
}
